body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}
