body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}
.subtitle {
  margin-top: 10px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  text-align: left;
}

.card h2 {
  margin-top: 0;
}

